body{
    background-color: black;
    width: 100%;
    height: 100%;
}

html{
    width: 100%;
    height: 100%;
}

.spotifyTab{
    width: 70%;
    height: 15%;
    background-color: black;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    display : flex; /* these help to vertically align future inside divs */
    align-items : center;
    color: rgb(77, 183, 77);
    font-size: 3vw; /* fix later, goes over border when to large*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
}

.spotifyIcon{
    object-fit: contain;
    height: 100%;
    margin-right: 2%;
    /* vertical-align: middle; */
}

.album{
    height: 100%;
    /* padding: 2%; */
}

@media screen and (min-width: 600px){
    .spotifyTab {
        width: 600px;
        font-size: 30px;
    }

    .album{
        width: 110px;
        height: 110px;
    }

    .spotifyIcon{
        width: 110px;
        height: 110px;   
    }
}

@media screen and (max-height: 470px){
    .spotifyTab {
        width: 200px;
        height: 50px;
        font-size: 10px;
    }

    .album{
        width: 33px;
        height: 33px;
    }

    .spotifyIcon{
        width: 33px;
        height: 33px;   
    }
}

/* p{
    width: 50%;
} */