html, body, #root, .App {
    height: 100%;
}

.newWorkout{
    width: 60%;
    min-height: 75%;
    height: auto;
    overflow: hidden;
    background-color: black;
    margin: auto;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 8vw; /* fix later, goes over border when to large*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addNewWorkout{
    width: 60%;
    height: 10%;
    background-color: black;
    margin: auto;
    margin-top: 2%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 8vw; /* fix later, goes over border when to large*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    display: flex;
    align-items : center;
    justify-content: center;
    /* position: relative; */
}

.addNewWorkout:hover{
    background-color: green;
}

.workoutName{
    background-color: black;
    width: 80%;
    height: 10%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    display: block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vw;
    text-align: center;
}

.finished{
    width: 10%;
    background-color: green;
    margin: auto;
    margin-top: 1%;
    margin-left: 85%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 2.5vw; /* fix later, goes over border when to large*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cancelLift{
    width: 77%;
    height: 11%;
    background-color: rgb(162, 16, 16);
    margin-top: 1%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 2.5vw;
    display : flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    justify-content: center;
}

.addExercise{
    width: 70%;
    height: 8%;
    background-color: black;
    margin-top: 1%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 2.5vw; /* fix later, goes over border when to large*/
    display : flex; /* these help to vertically align future inside divs */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addExercise2{
    top: 27%;
    width: 70%;
    background-color: black;
    margin-top: 1%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 2.5vw; /* fix later, goes over border when to large*/
    display : flex; /* these help to vertically align future inside divs */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sets{
    width: 60%;
    height: auto;
    background-color: black;
    margin-top: 1%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 2vw; /* fix later, goes over border when to large*/
    display : flex; /* these help to vertically align future inside divs */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sets2{
    width: 60%;
    height: auto;
    background-color: black;
    margin-top: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 2vw; /* fix later, goes over border when to large*/
    display : flex; /* these help to vertically align future inside divs */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.exercise-sets-container{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    position: relative;
}

.sets-input{
    background-color: green;
    border-width: 0;
    border-radius: 10px;
    width: 10%;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sets-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    position: relative;
}

.deleteSet{
    background-color: red;
    width: 4%;
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;
    /* justify-content: center; */
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    
    /* display: flex; */
}

.deleteExercise{
    background-color: red;
    text-align: center;
    margin-top: 1%;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    position: absolute;
    left: 74%;
    padding: .4%;
    /* top: 7%;
    right: 16%; */
}

.deleteWorkout{
    background-color: red;
    text-align: center;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    position: absolute;
    left: 75.4%;
}

p{
    margin: auto;
}