html, body, #root, .App {
    height: 100%;
}

.addNewWorkout{
    width: 60%;
    height: 10%;
    background-color: black;
    margin: auto;
    margin-top: 2%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    display : flex; /* these help to vertically align future inside divs */
    align-items : center;
    color: white;
    /* color: rgb(77, 183, 77); for later text*/
    font-size: 8vw; /* fix later, goes over border when to large*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newWorkout{
    width: 60%;
    height: 75%;
    background-color: black;
    margin: auto;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    /*display : flex;  these help to vertically align future inside divs */
    /* align-items : center; */
    color: white;
    /* color: rgb(77, 183, 77); for later text*/
    font-size: 8vw; /* fix later, goes over border when to large*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    position: relative;
}

.workoutName{
    background-color: black;
    width: 80%;
    height: 10%;
    border-radius: 20px;
    border-width: 6px;
    border-style: solid;
    border-color: white;
    margin: auto;
    display: block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vw;
    text-align: center;
}

.finished{
    width: 10%;
    height: 10%;
    background-color: green;
    margin: auto;
    margin-top: 1%;
    margin-left: 85%;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 2.5vw; /* fix later, goes over border when to large*/
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cancelLift{
    background-color: rgb(162, 16, 16);
    width: 77%;
    height: 11%;
    border-radius: 20px;
    border-width: 6px;
    border-style: solid;
    border-color: white;
    display: block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vw;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    bottom: 2.5%;
}

.addExercise{
    width: 60%;
    height: 8%;
    background-color: black;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5%;
    border-radius: 20px;
    border-width: 6px;
    border-style: solid;
    border-color: white;
    /* display: flex; */
    color: white;
    /* color: rgb(77, 183, 77); for later text*/
    font-size: 2.5vw; /* fix later, goes over border when to large*/
    display : flex; /* these help to vertically align future inside divs */
    align-items : center;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
}

.addExercise2{
    top: 27%;
    width: 50%;
    height: 7%;
    background-color: black;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5%;
    border-radius: 20px;
    border-width: 6px;
    border-style: solid;
    border-color: white;
    /* display: flex; */
    color: white;
    /* color: rgb(77, 183, 77); for later text*/
    font-size: 2.5vw; /* fix later, goes over border when to large*/
    display : flex; /* these help to vertically align future inside divs */
    align-items : center;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
}

p{
    margin: auto;
}