.addNewWorkout{
  width: 60%;
  height: 10%;
  background-color: black;
  margin: auto;
  margin-top: 5%;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  display : flex; /* these help to vertically align future inside divs */
  align-items : center;
  color: white;
  /* color: rgb(77, 183, 77); for later text*/
  font-size: 8vw; /* fix later, goes over border when to large*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
